.ast-mobile-header-content.content-align-flex-start {
  width: 95%;
  margin: 0 auto;
}

/* Footer */
.site-primary-footer-wrap.ast-builder-grid-row-container.site-footer-focus-item.ast-builder-grid-row-3-equal.ast-builder-grid-row-tablet-full.ast-builder-grid-row-mobile-full.ast-footer-row-stack.ast-footer-row-tablet-stack.ast-footer-row-mobile-stack {
  background-color: black;
}

.elementor-image-box-wrapper
  .elementor-image-box-content
  .elementor-image-box-title {
  font-size: 16px !important;
  font-weight: 600;
}

.elementor-element-ffe4386 {
  width: 50% !important;
  margin: 0.5rem auto;
}

.read-more-btn {
  background-color: transparent !important;
  border: none !important;
  color: #808285;
}
.read-more-btn:hover {
  color: #808285;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 6px;
  transition: all 1s;
}
@media screen and (max-width: 767px) {
  .elementor-element-ffe4386 {
    width: 100% !important;
  }
}
