.ast-mobile-header-content.content-align-flex-start {
  width: 95%;
  margin: 0 auto;
}

/* Footer */
.site-primary-footer-wrap.ast-builder-grid-row-container.site-footer-focus-item.ast-builder-grid-row-3-equal.ast-builder-grid-row-tablet-full.ast-builder-grid-row-mobile-full.ast-footer-row-stack.ast-footer-row-tablet-stack.ast-footer-row-mobile-stack {
  background-color: black;
}

li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.current-menu-item.page_item.page-item-11.current_page_item.menu-item-1169 a {
  /* color: ; */
}
